

.wrapper-musiclist  td, .wrapper-musiclist  th {
    padding: 10px 12px;
}

.wrapper-musiclist {
    //width: 800px;            // <-- CHECK
}

    .musiclist-table {
        width: 100%;
        display: table;
        @include text-musiclist-default;
    }

//==================================================================

        .musiclist-thead {
            display: table-header-group;
        }

            .musiclist-tr-panel {
            }

                .musiclist-th {
                    text-transform: uppercase;
                    border-bottom: 1px solid rgba($c-g-1, 0.1);
                }

                .musiclist-th:hover {
                    color: $c-t-3;
                    cursor: pointer;
                }


        .m-th-nr, .m-th-settings {
            width: 10%;
        }

//==================================================================

        .musiclist-tbody {
        }

            .musiclist-tr {
                cursor: pointer;
            }

            // .musiclist-tr[data-current="true"] {
            //     .m-nr {
            //         background-color: rgba($c-t-3, 0.2);
            //         content: " ";
            //     }
            // }

            .musiclist-tr:hover {
                background-color: rgba($c-b-4, 0.3);

                .musiclist-buttons {
                    display: block;
                    opacity: 1;
                }

                .m-nr {
                    opacity: 0;
                }

                .m-duration, .musiclist-buttons {
                    color: $c-t-3;
                }
            }

            .musiclist-buttons {
                font-size: 15px;
                opacity: 0;
                transform: translateX(-15px);
            }


//==================================================================

    .m-nr-wrap {
        display: flex;
        align-items: center;
    }

    .m-song {
        color: $c-g-3;
    }

    .m-artist-wrapper {

        > a {
            color: $c-g-5;
            margin-right: 8px;
        }

        > a::after {
            content: ",";
        }

        > a:last-child::after {
            content: "";
        }
    }
        .m-artist:hover {
            text-decoration: underline;
        }

    .m-duration {

    }

    .m-settings {
        display: flex;

        > .musiclist-buttons {
            margin-right: 15px;
        }
    }
