
#player-wrapper {
    max-width: 450px;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba($c-t-2, 0.6);
    @include shadow3;
}

    .player-item  {
        //padding-top: 35px;
        padding-right: 15px;
    }

//==================================================================
// CONTROL
.player-control {
    padding-top: 35px;
}
    .player-current-song {
        padding-bottom: 10px;
    }

    .player-navigation {
        display: flex;
        justify-content: space-between;
    }

        .player-nav {
            font-size: 26px;
            cursor: pointer;
            color: rgba($c-b-5, 0.9);

            > i {
                padding: 10px;
            }
        }

//==================================================================
// SETTINGS

.player-settings {
    display: flex;
}

    .player-settings-switch {
        padding: 0px 12px;
        padding-bottom: 150px;

        > * {
            display: flex;
            justify-content: center;
        }
    }

        .player-settings-icon {
            padding: 8px;
            font-size: 18px;
        }

//==================================================================
.player-playlist {
    height: 100%;

}
    .player-playlist-header {
        height: 50px;
        display: flex;
    }

    .player-playlist-wrapper {

    }

        .player-playlist-cat {
            display: grid;
            grid-template-columns: auto 1fr auto;
            padding-bottom: 10px;
            border-bottom: 1px solid rgba($c-t-3, 0.2);
        }

        .player-playlist-cat  > h5 {
            padding-right: 15px;
        }

        .player-playlist-cat  > h5 > i {
            font-weight: 700;
            padding-right: 5px;
        }

//==================================================================
.player-cover {
    align-items: flex-end;
    padding-right: 0px;
}

    .player-cover-img {
        background-color: $c-b-5;
        height: 400px;
        opacity: 0.4;
    }
