
.player-wrapper {
    display: flex; // flex

    max-width: 25rem;
    max-height: 100vh;

    width: 100%;
    height: 0%;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 3;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    padding-top: 6.25rem;
    overflow: hidden;
    transition: background-color 0.45s;
}

    .player-item  {
        //padding-top: 2.19rem;
        padding: 0px 0px;
    }


//==================================================================
// TOGGLE


.player-toggle {
    font-size: 1.5rem;
    color: $c-w-5;
    display: flex;
}

.player-toggle-menu {
    position: absolute;
    top: 1.88rem;
    right: 2.5rem;
    cursor: pointer;
    transition: color 0.3s;
}

    .player-toggle-menu:hover {
        color: $c-t-4;
    }

.player-toggle-music {
    position: fixed;
    left: 2.5rem;
    bottom: 2.5rem;
}

.player-toggle-music:hover {
    .player-music-slider {
        opacity: 1;
        transform: scaleY(1);
    }

}

    .player-music-button {
    }

        .player-music-slider {
            position: absolute;
            height: 6.25rem;
            top: -6.25rem;
            opacity: 0;
            transform: scaleY(0.01);
            transform-origin: bottom;
            transition: 0.3s;

            > div {                // Disabling padding in Ant design component
                padding: 0px;
            }
        }

            .player-music-volume {
                position: absolute;
                bottom: 0px;
                left: 9.38rem;
                font-size: 28.13rem;
                line-height: 18.75rem;
                color: rgba($c-g-3, 0.15);
                pointer-events: none;
            }

        .player-music-slider {
            .ant-slider, .ant-slider-rail, .ant-slider-track, .ant-slider-step {
                width: 1.25rem;
            }

            .ant-slider-track {
                border-top-left-radius: .13rem;
                border-top-right-radius: .13rem;
            }

            .ant-slider-rail {
                background-color: rgba($c-g-3, 0.5) !important;
            }

            .ant-slider-handle {
                display: none;
            }

            .ant-slider-mark {
                left: 1px;
            }
        }


//==================================================================
// TRACK



.player-track {

    .ant-slider {
        margin: 10px 0px;
    }

    .ant-slider-track {
        background-color: $c-t-1;
    }

    .ant-slider:hover .ant-slider-track {
        background-color: rgba($c-t-1, 0.7);
    }

    .ant-slider-handle {
        border-color: $c-w-5 !important;
        background-color: rgba($c-g-1, 1) !important;
    }

    .ant-slider-rail {
        background-color: rgba($c-g-3, 0.5) !important;
    }
}

    .player-track-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 0.6rem 1.56rem;
    }

        .player-track-h3 {
            font-size: 1.1rem;
            padding-top: 0.5rem;
        }


    .player-track-bar {
        padding: 0rem 1.56rem;
    }

    .player-track-duration {
        display: flex;
        justify-content: flex-end;
        padding: 0px 1.56rem;
        margin-bottom: 2rem;
    }

        .player-track-duration > * {
            margin: 0px 0.3rem;
            font-size: 12px;
            color: $c-g-2;
            font-family: "LarsseitBold";
        }



//==================================================================
// CONTROL
.player-control {
    position: absolute;
    top: 1.56rem;
    right: 8.75rem;
}
    .player-current-song {
        padding-bottom: .63rem;
    }

    .player-navigation {
        display: flex;
        align-items: center;

    }

        .player-nav {
            font-size: 1.06rem;
            font-weight: 100;
            cursor: pointer;
            color: $c-g-1;
            transition: 0.3s;


            > i {
                padding: .63rem;
            }
        }

        .player-nav:hover {
            color: $c-t-4;
        }

        .player-nav-play {
            font-size: 1.75rem;
        }

//==================================================================
// PLAYERBAR

.player-track {
    display: block;
    position: relative;
    border-top: 1px solid rgba($c-g-3, 0.1);
}

//==================================================================
// SETTINGS

.player-settings {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: .94rem 1.56rem;
    border-top: 1px solid rgba($c-g-3, 0.3);
}
    .player-switch-wrapper {
        display: flex;
    }

        .player-settings-switch {
            display: flex;
            align-items: center;
            padding-right: .75rem;
        }

            .player-settings-icon {
                padding-right: .63rem;
                font-size: 1rem;
            }

            .player-settings-switch > .ant-switch {

            }

    .player-settings-tools {

        > .player-icon {
            padding-left: .94rem;
        }

    }

        .player-icon {
            font-size: 1.1rem;
            font-weight: 100;
            color: $c-w-5;
            cursor: pointer;
            transition: 0.3s;
        }

        .player-icon:hover {
            color: $c-t-4;
        }

//==================================================================
.player-playlist {
    height: 100%;
    position: relative;
    overflow-y: auto;
}

    .player-playlist-wrapper {
        width: 100%;
    }

        .player-playlist-cat {
            display: flex;
            justify-content: space-between;
            padding: 1rem 1.56rem;
            border-bottom: 1px solid rgba($c-g-1, 0.1);
            color: $c-g-1;
        }

            .text-player-playerlist-cat {

                display: flex;
                align-items: center;

                > .player-icon {
                    padding-right: .5rem;
                }

                > .anticon-coffee {
                    padding-bottom: 3px;
                }
            }

//==================================================================
// KEYFRAMES

    // MUSIC VOLUME BAR
    .hide-volumebar {
        animation-name: hideVolumebar;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    @keyframes hideVolumebar {
        0% {
            transform: translateY(0px);
            opacity: 1;
        }

        20% {
            opacity: 0;
        }

        100% {
            transform: translateY(50rem);
            opacity: 0;
        }
    }



    // OPEN / CLOSE PLAYER MENU
    .show-player-menu {
        height: 100%;
        background-color: rgba(45, 45, 45, .2);
        @include shadow3;

        .player-settings, .player-playlist {
            display: flex !important;
            animation-name: hidePlayerMenu;
            animation-duration: 0.4s;
            animation-fill-mode: forwards;
        }

        .player-track {
            display: block !important;
            animation-name: hidePlayerMenu;
            animation-duration: 0.4s;
            animation-fill-mode: forwards;
        }

        .player-toggle-menu {
            color: $c-t-4;
        }

    }

    .player-settings, .player-playlist, .player-track {
        display: none !important;
    }



    @keyframes hidePlayerMenu {
        0% {
            opacity: 0;
            right: -25rem;

        }

        99% {
            opacity: 1;
            right: 0px;

        }

        100% {
            opacity: 1;
            right: 0px;
        }
    }
