/* ==================== HEADER ==================== */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;

    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 2;
}

//==================================================================
// PROFILE

    .nav-user {
        @include shadow3;
    }

//==================================================================
// NAVIGATION

    .nav-menu {
        display: flex;
    }


        .nav-menu-li {
            display: flex;
            transition: 0.45s;
            transition-delay: 0s;
            opacity: 0;
        }

            .nav-menu-a {
                height: 100%;
                display: flex;
                align-items: center;
                padding: 0px 20px;
            }

            .nav-menu-logo {
                width: 200px;
                height: 100px;
                padding: 0px 30px;
            }

            #nav-menu-button {
                opacity: 1;
                transform: scale(0.8);
            }


        .nav-menu-li:nth-child(1) {
            transform-origin: right center;
            transform: translate(-25px, 15px) rotateZ(-10deg);
        }

        .nav-menu-li:nth-child(2) {
            transform-origin: right center;
            transform: translate(-25px, 15px) rotateZ(-10deg);
        }

        .nav-menu-li:nth-last-child(2) {
            transform-origin: left center;
            transform: translate(25px, 15px) rotateZ(10deg);
        }

        .nav-menu-li:nth-last-child(1) {
            transform-origin: left center;
            transform: translate(25px, 15px) rotateZ(10deg);
        }


        .nav-menu[data-active="true"] {        // Menu trigger!
            #nav-menu-button {
                transform: scale(1.1);
            }

            .nav-menu-li {
                transform: translate(0px) rotateZ(0deg);
                opacity: 1;
            }

            .nav-menu-li:nth-last-child(1), .nav-menu-li:nth-child(1) {
                transition-delay: 0.2s;
            }
        }
