/* ==================== HEADER ==================== */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;

    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 2;
}

//==================================================================
// PROFILE

    .header-profile {
        display: flex;
        align-items: center;

        > * {
            transition: 0.3s;
        }
    }

    .header-profile:hover {
        color: $c-t-1;
    }

        .nav-user {
            font-size: 24px;
            transition: 0.3s;
            margin-right: 15px;
            //@include shadow3;
        }


//==================================================================
// NAVIGATION

    .nav-menu {
        display: flex;
    }


        .nav-menu-li {
            display: flex;
            transition: 0.45s;
            transition-delay: 0s;
            opacity: 0;
            height: 100px;
        }

            .nav-menu-a {
                height: 100%;
                display: flex;
                align-items: center;
                padding: 0px 20px;
            }

            .nav-menu-logo {
                height: 50px;
                opacity: 0.8;
            }

            #nav-menu-button {
                padding: 0px 20px;
                opacity: 1;
                transform: scale(0.8);
                align-items: center;
            }


        .nav-menu-li:nth-child(1) {
            transform-origin: right center;
            transform: translate(-25px, 15px) rotateZ(-10deg);
        }

        .nav-menu-li:nth-child(2) {
            transform-origin: right center;
            transform: translate(-25px, 15px) rotateZ(-10deg);
        }

        .nav-menu-li:nth-last-child(2) {
            transform-origin: left center;
            transform: translate(25px, 15px) rotateZ(10deg);
        }

        .nav-menu-li:nth-last-child(1) {
            transform-origin: left center;
            transform: translate(25px, 15px) rotateZ(10deg);
        }


        .nav-menu[data-active="true"] {        // Menu trigger!
            #nav-menu-button {
                transform: scale(1.1);
            }

            .nav-menu-li {
                transform: translate(0px) rotateZ(0deg);
                opacity: 1;
            }

            .nav-menu-li:nth-last-child(1), .nav-menu-li:nth-child(1) {
                transition-delay: 0.2s;
            }
        }
