/* ==================== COLORS ==================== */



$c-green:                     #2ecc71;
$c-red:                       #D71A21;
$c-yellow:                    #f1c40f;
$c-orange:                    #f39c12;
$c-turquise:                  #1abc9c;
$c-blue:                      #0da7c1;
$c-darkblue:                  #33606b;
$c-white:                     #ecf0f1;
$c-grey:                      #bdc3c7;
$c-darkgrey:                  #95a5a6;
$c-black:                     #141414;

$c-b-1:                       #000000;
$c-b-2:                       #141414;
$c-b-3:                       #202020;
$c-b-4:                       #2d2d2d;
$c-b-5:                       #3a3a3a;

$c-w-1:                       #ffffff;
$c-w-2:                       #fcfcfc;
$c-w-3:                       #f8f8f8;
$c-w-4:                       #f4f4f4;
$c-w-5:                       #f2f2f2;

$c-g-1:                       #e4e4e4;
$c-g-2:                       #dcdcdc;
$c-g-3:                       #bdbdbd;
$c-g-4:                       #adadad;
$c-g-5:                       #8a8a8a;

//==================================================================
// THEME COLORS

$c-t-1:                       #F9FAFA;
$c-t-2:                       #A6B1AE;
$c-t-3:                       #D0382D;
$c-t-4:                       #F3A02E;
$c-t-5:                       #2A212B;

//#9C5366


//==================================================================
// Shadows

@mixin shadow1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

@mixin shadow2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@mixin shadow3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

@mixin shadow4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@mixin shadow5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
