html {
    font-size: 100%;
}

#main {
    min-height: 100vh;
    background-color: $c-b-3;
    overflow-x: hidden;
    perspective: 1000px;
    width: 100%;
}


// Hiding scrollbar on webkit

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
