/* ==================== TYPOGRAPHY ==================== */
// IMPORTS

@font-face {
    font-family: 'LarsseitLight';
    src:  url('../fonts/Larsseit_light.woff2') format('woff2');
}

@font-face {
    font-family: 'Larsseit';
    src:  url('../fonts/Larsseit_medium.woff2') format('woff2');
}

@font-face {
    font-family: 'LarsseitBold';
    src:  url('../fonts/Larsseit_bold.woff2') format('woff2');
}


h1 {
    font-family: LarsseitBold;
    color: $c-w-5;
    font-size: 40px;
}

h2 {
    font-family: LarsseitLight;
    color: $c-w-5;
}

h3 {
    font-family: Larsseit;
    color: $c-w-5;
}

h4 {
    color: $c-w-5;
}

h5 {
    color: $c-w-5;
}

p {
    color: $c-g-3;
}

span {
}


//==================================================================
// CLASSES


    //==================================================================
    // SPECIFIC
    .text-nav {
        font-family: Larsseit;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 2.5px;
        color: $c-g-1;
        text-transform: uppercase;
    }

        .text-nav:hover {
            color: $c-t-1;
        }


    .text-h1 {
        font-size: 140px;
    }

    //==================================================================
    // PLAYER


        .text-player-playerlist-cat {
            font-family: LarsseitBold;
            text-transform: uppercase;
        }

        .item-draggable {         //.text-player-playerlist-item
            font-family: Larsseit;
            font-size: 11px;
            letter-spacing: 1px;
        }

        .ant-tooltip-open {
            border: 1px solid red;
        }

    //==================================================================
    // MUSICLIST

    @mixin text-musiclist-default {
        font-family: Larsseit;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1.6px;
        color: $c-b-6;
    }


    //==================================================================
    // PROFILE
