#about {
    display: flex;
    justify-content: center;
}

.container-about {
    max-width: 93.75rem;
    width: 100%;
    display: flex;


    > * {
        padding: 3.13rem;
    }
}

//==================================================================
    .about-musicidea {
        flex: 1;
    }


//==================================================================
    .about-contributors {
        flex: 1.5;
    }

        .ac-items {
            margin-bottom: 2.19rem;
        }

            .ac-items-li {
                margin-top: .94rem;
            }
