#about {
    display: flex;
    justify-content: center;
}

.container-about {
    max-width: 1500px;
    width: 100%;
    display: flex;


    > * {
        padding: 50px;
    }
}

//==================================================================
    .about-musicidea {
        flex: 1;
    }


//==================================================================
    .about-contributors {
        flex: 1.5;
    }

        .ac-items {
            margin-bottom: 35px;
        }

            .ac-items-li {
                margin-top: 15px;
            }
