
#artist {
    margin-top: 150px;
    display: flex;
    justify-content: center;
}


    .artist-content {
        max-width: 1400px;
        width: 100%;
    }

//==================================================================
//

    .artist-backdrop-container {
        display: flex;

        > .artist-backdrop {
            flex: 1.6;
        }

        > .artist-toptracks {
            flex: 1;
        }
    }
            .artist-backdrop {
                background-color: $c-t-1;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                width: 100%;
                height: 500px;

                display: flex;
                align-items: flex-end;
                position: relative;
                @include shadow1;
            }

                .artist-h1 {
                    line-height: 50px;
                    font-size: 80px;
                    margin-left: 30px;
                    color: rgb(32, 32, 32);
                    text-transform: uppercase;
                    z-index: 1;
                    position: relative;
                    user-select: none;
                }

                .artist-img-overlay {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(to left,rgba($c-t-1, 0.9),  rgba($c-t-2, 0.9));
                    top: 0px;
                    left: 0px;
                    mix-blend-mode:  exclusion;
                }

            .artist-album-header {
                margin-top: 70px;
            }

            .artist-album-list {
                display: flex;
                flex-wrap: wrap;
            }

                .artist-album-item {
                    width: 200px;
                    overflow: hidden;
                    margin: 0px 30px 30px 0px;
                }

                    .artist-album-image {
                        width: 200px;
                        height: 200px;
                    }

                    .artist-album-name {
                        width: auto;
                    }

//==================================================================
// RIGHT SECTION

        .artist-toptracks {
            margin: 0px 60px;
        }

            .artist-toptracks-header {
                margin-bottom: 20px;
            }





//==================================================================

    .artist-backdrop-wrapper {
        display: none;
    }

        .artist-img-backdrop {
            position: absolute;
            height: 100vh;
            max-width: 2560px;
            width: 100%;
            // background-blend-mode: color-dodge;
            // mix-blend-mode: multiply;
            background-size: contain;
            mix-blend-mode: overlay;
            filter: blur(10px);
        }
