
#artist {
    margin-top: 0px;
    padding: 0px;
}

    .artist-backdrop {
        height: 600px;
        max-width: 2560px;
        width: 100%;
        background-position: center;
        mix-blend-mode: soft-light;
    }

    .artist-content {
        border: 1px solid tomato;
    }
