#playlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    > * {
        max-width: 87.5rem;
        width: 100%;
        flex-grow: 1;
        margin-bottom: 3.13rem;
    }
}
