
#profile {
    display: flex;
    padding-top: 150px;
}

    .profile-header {
        margin-bottom: 30px;
    }

    //==================================================================
    // PLAYLIST

    .profile-playlist-header {
        margin-bottom: 20px;
    }

    .profile-playlists {
        flex: 1.5;
        margin: 0px 100px;
    }

        .profile-playlist-list {
            display: flex;
            flex-wrap: wrap;
        }

        .profile-playlist-item {
            display: flex;

            margin-right: 60px;
            margin-bottom: 60px;

            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            @include shadow4;
        }

        .profile-playlist-item:hover {
            &::before {
                opacity: 1;
            }
        }

        .profile-playlist-item::before {
            content: " ";
            position: absolute;
            width: 270px;
            height: 270px;
            @include shadow5;
            opacity: 0;
            transition: 0.3s;
        }


            .profile-playlist-link {
                display: flex;
                align-items: flex-end;

                width: 270px;
                height: 270px;
                z-index: 1;
            }

                .profile-item-header {
                    background-color: rgba($c-b-4, 0.5);
                    width: 100%;
                    padding: 15px;
                }

    //==================================================================
    // ARTISTS
    .profile-top-artists {
        flex: 1;
    }

        .profile-list {
            display: flex;
            flex-wrap: wrap;
        }

            .profile-list-item {
                width: 50%;
                flex-grow: 1;

                display: flex;
                align-items: center;
                margin-bottom: 20px;
            }

                .profile-list-img {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    margin-right: 20px;
                }
