
#profile {
    display: flex;
    padding: 3.13rem;
    max-width: 112.5rem;
    width: 100%;
}


    //==================================================================
    // PLAYLIST

    .profile-playlist-header {
        margin-bottom: 1.25rem;
    }

    .profile-playlists {
        flex: 1.7;
    }

        .profile-playlist-list {
            display: flex;
            flex-wrap: wrap;
        }

        .profile-playlist-item {
            display: flex;

            margin-right: 3.75rem;
            margin-bottom: 3.75rem;

            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            @include shadow4;
        }

        .profile-playlist-item h4 {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .profile-playlist-item:hover {
            &::before {
                opacity: 1;
            }
        }

        .profile-playlist-item::before {
            content: " ";
            position: absolute;
            width: 16.88rem;
            height: 16.88rem;
            @include shadow5;
            opacity: 0;
            transition: 0.3s;
        }


            .profile-playlist-link {
                display: flex;
                align-items: flex-end;

                width: 16.88rem;
                height: 16.88rem;
                z-index: 1;
            }

                .profile-item-header {
                    background-color: rgba($c-b-4, 0.5);
                    width: 100%;
                    padding: .94rem;
                }

    //==================================================================
    // ARTISTS
    .profile-top-artists {
        flex: 1;
    }

        .profile-list {
            display: flex;
            flex-wrap: wrap;
        }

            .profile-list-item {
                max-width: 50%;
                min-width: 300px;
                width: 100%;
                flex-grow: 1;
                flex-basis: 0;
                display: flex;
                align-items: center;
                margin-bottom: 1.88rem;
            }

                .profile-list-img {
                    display: block;
                    width: 6.25rem;
                    height: 6.25rem;
                    border-radius: 50%;
                    margin-right: 1.88rem;
                }
