.signin-wrapper {
    background-image: url('https://images.unsplash.com/photo-1491243658503-56c102aab1a9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=11784e19eb7e8c74aaa5684ca400e1ac&auto=format&fit=crop&w=2700&q=80');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .signin-box {
        max-width: 650px;
        height: auto;
        width: 100%;
        padding: 50px;
        position: relative;
        overflow: hidden;
        box-shadow: 0px 8px 70px -2px rgba(0,0,0,0.51);
        color: white;
    }

        .signin-img-wrapper {
            position: absolute;
            display: block;
            width: 100vw;
            height: 100vh;
            content: " ";
            top: 50%;
            right: 50%;
            transform: translateX(50vw) translateY(-50vh);
            background-image: url('https://images.unsplash.com/photo-1491243658503-56c102aab1a9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=11784e19eb7e8c74aaa5684ca400e1ac&auto=format&fit=crop&w=2700&q=80');
            background-size: cover;
            filter: blur(25px);
        }

        .signin-form {
            position: relative;
            z-index: 5;
        }

            .signin-logo {
                width: 200px;
                margin-bottom: 50px;
            }

            .signin-header {
                margin-bottom: 15px;
            }

            .signin-description {
                margin-bottom: 40px;
                color: rgba($c-g-1, 0.8);
                }

                .signin-spotify {
                    margin-top: 10px;
                }

                .signin-spotify-button {
                    margin-left: 10px;
                    color: white !important;
                }


                .signin-buttons {
                    margin-right: 20px;
                }
