.signin-wrapper {
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .signin-box {
        max-width: 34.38rem;
        height: auto;
        width: 100%;
        padding: 2.19rem 2.81rem 2.5rem;

        position: relative;
        overflow: hidden;
        box-shadow: 0px .5rem 4.38rem -.13rem rgba(0,0,0,0.51);
        color: white;
    }

        .signin-img-wrapper {
            position: absolute;
            display: block;
            width: 100vw;
            height: 100vh;
            content: " ";
            top: 50%;
            right: 50%;
            transform: translateX(50vw) translateY(-50vh);
            background-size: cover;
            filter: blur(1.56rem);
        }

        .signin-form {
            position: relative;
        }

            .signin-logo {
                position: absolute;
                top: 2.5rem;
                left: 2.5rem;
                height: 5rem;
                mix-blend-mode: luminosity;
            }

            .signin-github {
                position: absolute;
                left: 2.5rem;
                bottom: 2.5rem;
                font-size: 2.5rem;
                color: $c-g-1;
                cursor: pointer;
            }

            .signin-header {
                position: relative;
                z-index: 1;
                font-family: "LarsseitBold";
                margin-bottom: 4.06rem;
                color: rgba($c-w-1, 0.8);
            }

            .signin-modal {
                position: absolute;
                z-index: 1;
                bottom: 1.25rem;
                right: 1.25rem;
                color: rgba($c-g-2, 0.3);
                font-size: 1.13rem;
                cursor: pointer;
            }


                .signin-spotify {
                    margin-top: .63rem;
                }

                .signin-spotify-button {
                    margin-left: .63rem;
                    color: white !important;
                }


                .signin-buttons {
                    margin-right: 1.25rem;
                }
